<div class="row">
  <div class="columns">
    <h1>Login</h1>
    <p>You must be logged in to use Wordbook. Please enter your credentials below.</p>
  </div>
</div>
<form id="login-form">
  <div class="row">
    <div class="small-6 columns">
      <input type="text" placeholder="Username">
    </div>
  </div>
  <div class="row">
    <div class="small-6 columns">
      <input type="text" placeholder="Password">
    </div>
  </div>
  <div class="row">
    <div class="small-6 columns">
      <input class="small button" type="submit" value="Log in">
    </div>
  </div>
</form>
