<div class="row">
  <div class="columns">
    <h1>Login</h1>
    <p>You must be logged in to use Wordbook. Please enter your credentials below.</p>
  </div>
</div>
<form ng-submit="login()">
  <div class="row" ng-show="creds.invalid">
    <div class="small-6 columns">
      <div class="alert-box alert">Invalid email address and/or password.</div>
    </div>
  </div>
  <div class="row">
    <div class="small-6 columns">
      <input type="text" placeholder="Email address" required ng-model="creds.email">
    </div>
  </div>
  <div class="row">
    <div class="small-6 columns">
      <input type="password" placeholder="Password" required ng-model="creds.password">
    </div>
  </div>
  <div class="row">
    <div class="small-6 columns">
      <input class="small button" type="submit" value="Log in">
    </div>
  </div>
</form>
